/* Reset global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Base */

html {
    scroll-behavior: smooth;

    background-color: #F7F9FA;


}

body {
    background-color: #FFFFFF;

    width: 83%;

    margin: auto;

}


/* Header */

header {

    display: flex;
    justify-content: space-between;

}

header img {

    max-width: 100%;
    height: auto;

}

header nav ul {

    display: flex;
    flex-direction: column;

    list-style: none;

}

header nav ul li {

    text-align: center;

    margin: 2em;

}

/* Main */



/* Footer */